<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataConnectionDialog" version="1.2" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Nito.AsyncEx" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Oop" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net472" />
  <package id="Nito.Cancellation" version="1.0.5" targetFramework="net472" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net472" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net472" />
  <package id="Npgsql" version="4.0.6" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Tortuga.Anchor" version="2.1.7001.32222" targetFramework="net461" />
  <package id="Tortuga.Chain.Access" version="2.1.7009.31394" targetFramework="net472" />
  <package id="Tortuga.Chain.Core" version="2.1.7009.31212" targetFramework="net461" />
  <package id="Tortuga.Chain.PostgreSql" version="2.1.7009.32285" targetFramework="net472" />
  <package id="Tortuga.Chain.SqlServer" version="2.1.7009.33175" targetFramework="net461" />
  <package id="Tortuga.Sails" version="1.2.6801.28650" targetFramework="net461" />
</packages>