<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.4" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="MimeKit" version="2.1.2" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net462" />
  <package id="Npgsql" version="4.0.4" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Tortuga.Anchor" version="2.0.6931.40035" targetFramework="net461" />
  <package id="Tortuga.Chain.Access" version="2.1.6987.40737" targetFramework="net461" />
  <package id="Tortuga.Chain.Core" version="2.1.6963.38576" targetFramework="net461" />
  <package id="Tortuga.Chain.PostgreSql" version="2.1.6987.41742" targetFramework="net461" />
  <package id="Tortuga.Chain.SQLite" version="2.1.6987.43176" targetFramework="net461" />
  <package id="Tortuga.Chain.SqlServer" version="2.1.6988.28249" targetFramework="net461" />
  <package id="Tortuga.Sails" version="1.2.6801.28650" targetFramework="net461" />
</packages>